<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Demo Suite">
  <parameter name="browser" value="chrome" />
  <test name="Automation Assessment">
    <classes>
      <class name="test.AdminLoginTest" />
      <class name="test.AdminCreateUserTest" />
      <class name="test.AdminDisableEmployeeTest" />
    </classes>
  </test>
</suite>